*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0%;
}
.navbar{
    background-color: #F3df48;
}
.navbar a{
    color: black;
    font-weight: 700;
    font-style: initial;
}
.slide h5,h6{
    font-weight: 600;
    color: rgb(19, 194, 224);
}
#content2 .col1{
    padding: 5% 0%;
    overflow: hidden;
}
a>h4{
    text-decoration: none;
    text-align: center;
    color: grey;
    font-size: 1em;
    padding-top: 3%;    
}
h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    padding-top: 5%;
    padding-bottom: 5%;
}
.content img{
    max-width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    margin: auto;
}
.content p{
    text-indent: 3%;
}
.content i{
    text-align: center;
    padding-bottom: 3%;
    padding-top: 2%;
}

.list{
    margin: 8% 5%;
}
.list img{
    max-width: 50%;
    height: auto;
    margin: auto;
}
.list h2,p{
    color: gray;
}